/* blog.css houses the style attributes that apply to elements only appear on 
blog.html.  Including the main blog page, blog posts and footer. */

/* This is to style the blog section. */
.blog-page {
  border-bottom: 6px solid;
  margin-bottom: 3px;
  justify-content: center;
}

.post-card {
  width: 95vw;
  margin: 10px;
  border: 1px solid;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.post-content {
  flex-grow: 1;
  margin: 15px;
}

/* This is to style the footer section. */
footer {
  margin-top: 3px;
  border-top: 6px solid;
  text-align: center;
  line-height: 1.5rem;
  padding: 5px;
}