/* style.css houses the style attributes that are commonly used by both
index.html and blog.html */

/* Define color variables for dark/light switch */
:root {
  --darkBG: #222222;
  --darkText: #dee4e7;
  --lightBG: #ffffff;
  --lightText: #494949;
}

/* Reset some basics and set up some global attributes and prep the page/font display size */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1rem;
  background-color: var(--lightBG);
  color: var(--lightText);
  font-family: "Roboto Slab", "Open Sans", 'Times New Roman';
  font-size: 16px;
}

/* The page would take 100vh even if there is no blog post. */
html {
  height: 100vh;
}

/* This section is to predefine the dark/light color theme. */
.light {
  background-color: var(--lightBG);
  color: var(--lightText);
  border-color: var(--darkBG);
}

.dark {
  background-color: var(--darkBG);
  color: var(--darkText);
  border-color: var(--lightBG);
}

/* The page would take 100% of the available space and the sections align as flex 
in a column */
body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

/* Starting here is to style the header.  Also pre-define the light-switch 
image by .moon and .sun. */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 6px solid;
  margin-bottom: 3px;
  padding: 10px;
  width: 100vw;
  height:fit-content;
}

h1 {
  font-size: 3rem;
  display: flex;
  align-items: center;
}

nav {
  display: flex;
  align-items: center;
}

#back {
  font-size: 2rem;
  margin-right: 10px;
  padding: 5px;
  text-align: center;
  height: 40px;
}

.light-switch {
  width: 50px;
  height: 40px;
  background-image: url(../image/light-switch.jpg);
}

.moon {
  background-position: -30px 0;
  transition: background-position 0.5s;
}

.sun {
  background-position: 0 0;
  transition: background-position 0.5s;
}

/* Starting here is the common attributes used within main */
main {
  margin-top: 3px;
  border-top: 6px solid;
  width: 100vw;
  min-height: 100%;
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  flex-wrap: wrap;
}

h2 {
  font-size: 2.5rem;
  line-height: 3rem;
}
